  *{
    padding: 0 !important;
    margin: 0 !important;
}

 
main{
  display: flex;
  justify-content: center;
}


ul{
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
}

ul > li{
    background-color: pink;
 width: 100%;
 height: 100%;
}


.tabcontent{
    display: none;
}
.first{
flex-basis: 28%   ;
background-color: #113adb;
height: 100vh;
display: flex;
left: 0;
position: fixed;
}
.first > div{
    /* padding: 2%; */
    background-color: rgb(47, 48, 47);
    
}

.HeroSection
{
  width: 600px;
  height: 700px;
  /* overflow-y: scroll;
  scale: 0.8; */

}

/* .second{


   position: absolute;
 left: 30%; */
/* top :20%; */
/* transform: translate(-50%,-50%);   */

  /* height: 100%; */
  /* background-color: rgb(252, 17, 17); */
  /* height: 400px;  */
  /* overflow: scroll; */
  
    /* flex-basis: 45%; */
    /* display: flex; */
 /* width: 30%; */
    /* flex-direction: row;  */
  /* height: 1055px; */
  /* height: 1122.24px ;   */
  /* height: 1102px ;  */
  /* overflow: hidden; */
  /* } */
.second > p{
width: 20px;
height: 20px;  
}

h4{
  font-size: 17px;
  color: #ffff;
  width: 100%;
  line-height: 1.9;
}
h4.underlined {
  border-bottom: 1px solid #ffff;
  width: 100%;
  /* margin-top: 1px; */
  position: relative;
}
input[type="text"]
{
  /* padding-left: 20%; */
  color: white;
  font-size: 8px;
}
label{
  font-size: 10px;
  color: #ffff;
}
/* 

@page {
  margin: 0;
} */

#section2{
margin-top: 3%;
  width: 40%;
  /* scale: 0.8; */
}

#CvContainer
{
  background-color: purple;
  width: 100%;
  display: flex;
    height: 1124px ;
    /* scale: 0.7; */
    /* margin: 0; */
  /* padding: 0; */
  flex-direction: row;
} 




.LeftSide{
  padding-left: 5% !important;
  width: 25%;
  /* height:1100.24px ;   */ 
  background-color: red;
}

.RightSide{
  width: 75%;
  /* height: 1124.24px ;   */
 
background-color: black;
}

.LeftSide > div > label {
margin-top: 20px  !important; 
}
.LeftSide div {
  display: flex;
  /* gap: 1px; */
flex-direction: column;
}


.description
{
/* width: 65%; */
/*   
margin: 0;
padding: 0; */
background-color: black;
  /* background-color: #ffffff; */
}

.active {
    background-color: #ccc;
  }
  
  #image-container > img
{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
#imaDoad
{
  width: 130px;
  height: 130px;
  border-radius: 50%;
}



 .rmBorder
 {
    border: none !important;  
    outline: none !important;  
    box-shadow: none !important;  

 }


   
  